  <?xml version="1.0" encoding="UTF-8" ?>
   <widget id="com.phonegap.fruitism" 
    version="0.0.1" 
    xmlns="http://www.w3.org/ns/widgets"
     xmlns:cdv="http://cordova.apache.org/ns/1.0">

        <!-- versionCode is optional and Android only -->

        <preference name="phonegap-version" value="3.5.0" />

        <name>Fruitism9</name>

        <description>
        An example for phonegap build docs. 
        </description>
        <content src="index.html" />

        <author href="http://vipulism.phonegap.io" email="vipul0809@gmail.com">
        Vipul Sharma
        </author>

        <gap:plugin name="nl.x-services.plugins.socialsharing" version="4.3.8" />

    </widget>